@import "./colors.scss";
@import "./main.scss";

#betaling {
    display: grid;
    justify-content: center;
}

.text {
    text-align: left;
}

.text2 {
    text-align: right;
}

.card {
    margin-top: 2rem;
    padding-bottom: 1rem;
}

#cardicon {
    display: inline;
    text-align: right;
}

#betalingtext {
    display: inline;
    text-align: left;
}

#emailaddress {
    margin-bottom: -0.5rem;
}

#beløb {
    margin-top: 0.7rem;
    margin-right: 0.5rem;
}

#checkbox {
    margin-top: 0.7rem;
}

#bekræft {
    vertical-align: middle;
    float: right;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#breadcrumb {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    /*mobile*/
}

@media (min-width: 601px) and (max-width: 1000px) {
    /*tablet*/
}

@media (min-width: 1000px) {}