@import "./colors.scss";
@import "./main.scss";

#faq {
    border: 3px solid;
    margin-top: 1em;
    border-radius: 15px;
}

#q {
    background-color: $clr-primary;
    color: $clr-light;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#a,#q p {
    margin:0px;
    padding: 5px;
}

@media (max-width: 600px) {}

@media (min-width: 601px) and (max-width: 1000px) {}

@media (min-width: 1000px) {}