/*for all*/

@import "./main.scss";
.collapsible {
    background-color: $clr-secondary;
    color: $clr-dark;
    cursor: pointer;
    padding: 18px;
    width: 85%;
    text-align: left;
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    flex-shrink: 0;
}

.active,
.collapsible:hover {
    background-color: $clr-primary;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.collapsible:after {
    content: '\002B';
    color: $clr-dark;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    width: 85%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: darken($clr-light, 10);
    color: $clr-dark;
    margin-bottom: 1em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    color: $clr-dark;
    margin-bottom: 1em;
    margin-top: 1em;
}

@media (max-width: 600px) {
    /*phone*/
}

@media (min-width: 601px) and (max-width: 999px) {
    .collapsible {
        width: 75%;
    }
    .content {
        width: 75%;
    }
}

@media (min-width: 1000px) {
    .collapsible {
        width: 60%;
    }
    .content {
        width: 60%;
    }
}