@import "./colors.scss";
@import "./main.scss";
.faq {
    margin-top: 1em;
    overflow: hidden;
    border-radius: 15px;
    outline: 3px solid $clr-dark;
}

.q {
    background-color: $clr-primary;
    color: $clr-light;
}

.a {
    background-color: darken($clr-light, 5);
}

.a,
.q p {
    margin: 0px;
    padding: 5px;
}

#breadcrumb {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

@media (max-width: 600px) {}

@media (min-width: 601px) and (max-width: 1000px) {}

@media (min-width: 1000px) {}