$clr-primary: #344966;
$clr-secondary: #FFFFFF;
$clr-background: #FFFFFF;
$clr-dark: #040404;
$clr-light: #F0F4EF;
body {
    overflow-y: overlay;
    margin-top: 0px !important;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    margin-bottom: 4em;
}

.color-primary {
    background-color: $clr-primary;
}

.color-secondary {
    background-color: $clr-secondary;
}

.color-background {
    background-color: $clr-background;
}

.color-dark {
    background-color: $clr-dark;
}

.color-light {
    background-color: $clr-light;
}

body {
    background-color: $clr-secondary;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.fullwidth {
    width: 100vw;
}

.page {
    min-height: 85vh;
    width: 85vw;
    background-color: $clr-light;
    border-radius: 25px;
    overflow: auto;
    box-shadow: 10px 10px 50px darken($clr-background, 10%);
}

#top {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

#shadow {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.linkfoot {
    padding-top: 1rem;
    text-align: center;
    margin-top: 0px;
}

#foottext {
    margin-top: 1rem;
}

#breadcrumb {
    position: absolute;
    left: 0;
    margin-left: 1rem;
}

.material-icon {
    color: black;
}

.nav-footer-color {
    background-color: darken($clr-primary, 5);
}

.light-text {
    color: $clr-light;
}

footer {
    margin-top: auto !important;
}

.headerText {
    margin-top: 0px;
}

.material-iconsnav {
    font-size: 40px;
}

#back {
    margin-left: 1rem;
}

#login {
    margin-right: 1rem;
}

@media (min-width: 601px) and (max-width: 999px) {
    .page {
        box-shadow: 20px 20px 50px darken($clr-background, 10%);
    }
    body {
        height: 100vh;
    }
}

@media (min-width: 1000px) {
    .page {
        box-shadow: 30px 30px 50px darken($clr-background, 10%);
    }
    body {
        height: 100vh;
    }
}