@import "./colors.scss";

$header-height: 96px;
$footer-height: 296px;

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
    max-width: 4px;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $clr-primary;
    padding: 20px;
    width:100%;
}

#content-wrap {
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 30px;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
}

#footer {
    display: flex;
    flex-direction: column;
    background-color: $clr-primary;
    padding: 20px;

    color: $clr-light;
}

#copyright {
    background-color: darken($clr-primary, 5%);
}

#header-right {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

#header-left {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 79px;
}

#breadcrumb {
    padding-left: 10px;
    padding-top: 3px;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

#user {
    display: flex;
}

#user-pic {
    border-radius: 50%;
    margin: 2px;
}

@media (max-width: 600px) {
    $header-height: 82px;
    $footer-height: 504px;
}

@media (min-width: 601px) and (max-width: 1000px) {
    $header-height: 90px;
    $footer-height: 408px;
}

@media (min-width: 1000px) {
    $header-height: 96px;
    $footer-height: 296px;
}