@import "./colors.scss";

.button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#minebiler {
    display: grid;
    justify-content: center;
    text-align: center;
}

#aktivbiltext {
    margin-top: 1rem;
}

.card-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#afslut {
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
}

#biltype {
    display: inline;
    text-align: left;
}

#strøm {
    display: inline;
    text-align: left;
}

#pris {
    display: inline;
    text-align: right;
}

#footer {
    padding-top: 1rem;
}

#breadcrumb {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

#afslut {
    display: flex;
    justify-content: center;
}

@media (max-width: 600px) {
    #back {
        padding-left: 0.5rem;
    }
    #login {
        padding-right: 0.5rem;
    }
    #content {
        margin-bottom: 18em;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {

}

@media (min-width: 1000px) {
    #back {
        margin-left: 2rem;
    }

    #login {
        margin-right: 2rem;
    }

    #content {
        margin-bottom: 5em;
    }
}